$amarillo: yellow;
$rojo: red;
$verde: green;
$turquesa: #A3E4D7;

@mixin margenes($top, $bottom){
  margin-top: $top;
  margin-bottom: $bottom
}

.jumbotron {
  background: linear-gradient(to bottom, white, $turquesa);
  color: $rojo;
  @include margenes(30px, 5px);
  font-family: "Latin Modern Roman 10";
  font-style: oblique; }

html, body {
  height: 100%;
  margin: 0px; }
 #logo {
  width: 40px;
  height: 40px; }

footer {
  padding: 10px 10px 10px 10px;
  background: linear-gradient(to bottom, $amarillo, white);
  @include margenes(10px, 1px); }

.card-hotel {
  flex: 1 195px;
  margin-top: 10px;
  background: #F0F3F4; }

.btn-reserva {
  width: 100%;
  border-radius: 0px;
  font-size: 12px; }

.footer-address-icon {
  padding-right: 5px; }

.banner {
  background: url("./../images/banner.jpg");
  background-size: cover;
  width: 100%;
  height: 250px; 
  color: $verde; }

.titulo-banner {
  background-image: linear-gradient(90deg, transparent 5%, rgba(255, 255, 255, 0.6) 10%, rgba(255, 255, 255, 0.6) 90%, transparent 95%);
  text-align: center;
  padding: 3% 10%;
  font-family: "Latin Modern Roman 10";
  font-style: oblique; }

.tab-content {
  padding-top: 10px; }

/*# sourceMappingURL=styles.scss.map */

/*# sourceMappingURL=styles.scss.map */
