.jumbotron {
  background: linear-gradient(to bottom, white, #A3E4D7);
  color: black;
  margin-top: 30px;
  margin-bottom: 5px;
  font-family: "Latin Modern Roman 10";
  font-style: oblique;
}
html,
body {
  height: 100%;
  margin: 0px;
}
#logo {
  width: 40px;
  height: 40px;
}
footer {
  padding: 10px 10px 10px 10px;
  background: linear-gradient(to bottom, #A3E4D7, white);
  margin-top: 10px;
  margin-bottom: 1px;
}
.card-hotel {
  flex: 1 195px;
  margin-top: 10px;
  background: #F0F3F4;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
  font-size: 12px;
}
.empresa {
  text-align: center;
}
.footer-address-icon {
  padding-right: 5px;
}
.banner {
  background: url("../images/banner.jpg");
  background-size: cover;
  width: 100%;
  height: 250px;
}
.titulo-banner {
  background-image: linear-gradient(90deg, transparent 5%, rgba(255, 255, 255, 0.6) 10%, rgba(255, 255, 255, 0.6) 90%, transparent 95%);
  text-align: center;
  padding: 3% 10%;
  font-family: "Latin Modern Roman 10";
  font-style: oblique;
}
.tab-content {
  padding-top: 10px;
}
